/* These are my notes on CSS */

/* CSS is again, not strictly a programming language. It's a "style guide".
    It tells a browser how to display the elements of a website that you've created.
    It does this through rules. Each rule is made up of a "selector", a "property", and a "value".*/

/* div {
    color:red;
} */

/* A class selector will select all elements with a given "class". This is an atribute
    that you give to an HTML element. */

/* .greeting,
.unread{
    background-color:aqua;
}

.unread {
    color: lightblue;
}

.greeting {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */

/* You can also had ID selectors.   The difference between class selectors and ID selectors is that
    an element can only have 1 ID selector and that ID selector CANNNOT be repeated. */

/* #response {
    font-size: 40px;
}


.general-greeting.response{
    font-size: xx-large;
}


.ancestor .contents{
    color:firebrick
}

.box-one {
    background-color:red;
    color: black;
    padding:20px;
    height: 200px;
    width: 200px;
    border: 30px solid purple;
    margin:100px;
}

.box-two {
    background-color:orange;
    color: black;
    padding:20px;
    height: 100px;
    width: 100px;
    border: 30px solid green;
    margin:60px;
} */
/* Space 2 elements from each other use margin */
/* Space 1 element from itself use padding */

.flex-container {
    display: flex;
    flex-direction: row;
}


.flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    width: 100px;
    flex: 1 1 0;
}

/* only div 2 is selected */

/* .flex-container .two {
    flex: 1 2 0%;
} */

